//variable as modif

$primary: #49DCB1;
$secondary: #878F9B;
$dark: #4F5D75;
$black: #2D3142;
$font-family-sans-serif: "Montserrat", sans-serif !default;
$font-family-serif: "Hind Madurai", serif !default;

@import "../node_modules/bootstrap/scss/bootstrap";

 

 