 @import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
 @import 'custom';
 

 html {
    position: relative;
    min-height: 100%;
 }

 body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
 }

 main {
    flex: 1;
    margin-bottom: 0;
 }

 footer.footer {
    padding: 15px;
    width: 100%;
    margin-top: auto;
 }

 .hero-scene {
    position: relative;

    &::before {
       content: "";
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-image: url('../image/hero.jpg');
       background-size: cover;
       filter: brightness(0.5);
    }

    * {
       //position des elements devant le before pour le fond gris 
       position: relative;
    }

    // Centré le texte dans la div
    .hero-scene-content {
       height: 300px;
       display: flex;
       align-content: center;
       justify-content: center;
       flex-direction: column;
       align-items: center;
       flex-wrap: wrap;
    }
 }

 .text-justify {
    text-align: center;
 }

 .btn-primary {

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    &:hover {
       filter: brightness(0.85);
       transform: translateY(-2px);

    }

 }

 .btn-danger {

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    &:hover {
       filter: brightness(0.85);
       transform: translateY(-2px);

    }

 }

 .img-fluid {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);

 }

 .image-card {
    position: relative;

    &:hover {
       .titre-image,
       .edit-image {
          opacity: 1;
       }

       img {
          filter: brightness(0.3);
       }

    }

    img {
       transition: all 0.3s;
    }

    .titre-image {
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       opacity: 0;
       transition: all 0.3s;
       text-align: center;
    }

    .edit-image {
       position: absolute;
       top: 0%;
       left: 0%;
       display: inline-flex;
       justify-content: space-between;
       width: 100%;
       padding: 5px;
       opacity: 0;
    }
 }

 .form-label {
    color: $primary;
    font-weight: bold;
 }

 .formsign {
    background-color: $dark;
    padding: 20px;
    border-radius: 15px;
    margin: 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1);

 }

 .allreservations{
    a{
        display: block;
        color: $black;
        padding:10px;
    }
}

.navbarmenu{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.navbarmenu .navbar {
    display: inline-flex;
    width: auto;
    padding: 0.5rem 1rem;
}

.navbarmenu .navbar form {
    width: auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.menu ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.colorli {
   color: rgb(185, 185, 185);
  
}

.barremenu {
    color: $primary;
}

.bi-arrows-vertical {
    color: $primary;
    font-size: 3rem;
    line-height: 1;
}